
/*.fancy-header {*/
/*    color: purple;*/
/*    text-decoration: underline;*/
/*}*/

.change-font{
    font-family: 'Mouse Memoirs', sans-serif;
}


h1 { text-align: center }

p {
    text-decoration: underline;
    color: darkolivegreen;
}

body {
    background-color: lightblue;
}

body {
    background-image: url(../img/pexels-mikhail-nilov-7988210.jpg);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

table, th, td {
    border: 1px solid;
}