
/*.fancy-header {*/
/*    color: purple;*/
/*    text-decoration: underline;*/
/*}*/

.change-font{
    font-family: 'Mouse Memoirs', sans-serif;
}


h1 { text-align: center }

p {
    text-decoration: underline;
    color: darkolivegreen;
}

body {
    background-color: lightblue;
}